<p id="notice"><%= notice %></p>

<h1>Listing Markovs</h1>

<table class="table table-stripped">
  <thead class="thead-light">
    <tr>
      <th>Current</th>
      <th>Next</th>
      <th>Frequency</th>
      <th>Recent</th>
      <th>Anger</th>
      <th>Fear</th>
      <th>Joy</th>
      <th>Sadness</th>
      <th>Analytical</th>
      <th>Confident</th>
      <th>Tentative</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @markovs.each do |markov| %>
      <tr>
        <td><%= markov.current %></td>
        <td><%= markov.next %></td>
        <td><%= markov.frequency %></td>
        <td><%= markov.recent %></td>
        <td><%= markov.anger %></td>
        <td><%= markov.fear %></td>
        <td><%= markov.joy %></td>
        <td><%= markov.sadness %></td>
        <td><%= markov.analytical %></td>
        <td><%= markov.confident %></td>
        <td><%= markov.tentative %></td>
        <td><%= link_to 'Show', markov %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

